<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}" />

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  {{! Styles'n'Scripts }}
<!--     <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" /> -->

  <link rel="stylesheet" href="/assets/components/prism/prism.css" />
  <link rel="stylesheet" href="/assets/css/app.css" />

  {{! Ghost outputs important style and meta data with this tag }}
  {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{! The big featured header on the homepage, with the site logo and description }}
  <header class="site-head row" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="large-3 columns site-name">
      <a href="{{@blog.url}}">
        <h1 class="blog-title">{{@blog.title}}</h1>
      </a>
    </div>
    <div class="large-9 columns">

    </div>
  </header>

{{!--   <div class="row">
    <div class="large-3 columns delimiter-header-name">
    </div>
    <div class="large-9 columns delimiter-header-annex">
    </div>
  </div> --}}

  {{! Everything else gets inserted here }}
  {{{body}}}

  <footer class="site-footer">
    <div class="row">
      <aside class="large-3 columns links">
        <h1>if <span class="icon-heart-empty"/></h1>
        <ul>
          <li>
            <a class="subscribe icon-rss" href="{{@blog.url}}/rss/">RSS</a>
          </li>
          <li>
            <a class="subscribe icon-twitter" href="https://twitter.com/hackorder">Twitter</a>
          </li>
        </ul>
      </aside>
      <section class="large-9 columns about">
      </section>
    </div>
    <div class="row">
      <div class="large-12 columns poweredby">
        <p>Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></p>
      </div>
    </div>
  </footer>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script src="/assets/components/prism/prism.js"></script>

</body>
</html>
