{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

  {{! Everything inside the #post tags pulls data from the post }}
  {{#post}}

  <section class="row">

    <!-- Sidebar -->
    <aside class="large-3 columns">
      <div class="post-meta-date">
        <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
      </div>
      <section class="post-meta-author">
        <h4>{{author.name}}</h4>
        <p>{{author.bio}}</p>
      </section>
    </aside>
    <!-- End Sidebar -->

    <!-- Post -->
    <article class="large-9 columns {{post_class}}" role="content">
        <h1 class="post-title">{{{title}}}</h1>
        <section class="post-content">
          {{content}}
        </section>
    </article>
    <!-- End Post -->

  </section>
  
  <footer class="post-meta-author row">
    <div class="medium-12 columns">
    <h4>{{author.name}}</h4>
    <p>{{author.bio}}</p>
    </div>
  </footer>

  {{/post}}

</main>